@page
@model IndexModel
@System.Globalization.CultureInfo.CurrentUICulture
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>My first attempt in making <a href="https://docs.microsoft.com/aspnet/core">Razor Pages</a>.</p>
</div>
